<section id="call" class="bg-mid-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Call for Papers</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <p class="large text-muted">
          This workshop aims to promote innovative research on integrating generative models with recommender systems, focusing on five key aspects:
        </p>
        <ul class="large text-muted">
          <ul>
            <li>1) improving user modeling algorithms by generative models; </li>
            <li>
              2) using generative models for diverse item content creation, to supplement human-generated content;
            </li>
            <li>3) revolutionizing user interaction modes with recommender systems; </li>
            <li>4) emphasizing trustworthiness in generative model-enhanced recommender models; </li>
            <li>5) designing evaluation methodologies for assessing recommender systems with generative models. </li>

          </ul>
        </ul>
        <p class="large text-muted">

          The workshop will provide a valuable platform for researchers to share the latest ideas, advances, and breakthroughs in this rapidly evolving field. Prospective authors are invited to submit original research papers that address the related topics of interest. Submitted papers should not exceed 8 pages in length, including figures, tables, and references. Papers must be formatted according to the CIKM 2023 format and submission guidelines.

        </p>

      </div>
    </div>
  </div>
</section>
