<style>
  table,
  th,
  td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
  }
  th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
</style>
<section id="schedule" class={{include.class}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Workshop Final Programme</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>

           <div class="row text-justify">
              <div class="col-md-12">
                <ul class="large text-muted">
                  <li><b>To Be Announced!</b></li>
                </ul>
              </div>
            </div>


<!--    <table style="width: 100%">-->
<!--        <tr> <th width=100px> Activity type </th> <th width=110px> Time </th> <th width=300px> Title </th> <th> Speaker/Author(s) </th> </tr>-->
<!--        <tr> <td width=100px> Opening </td> <td width=110px> 1.30pm-1.35pm </td> <td></td> <td></td> </tr>-->
<!--        <tr> <td width=100px>Invited talk</td> <td width=110px>1.35pm-2.05pm</td> <td width=300px>On the Proactiveness in Conversational Search and Recommendation </td> <td width=170px> Prof. Lizi Liao </td> </tr>-->
<!--        <tr> <td width=100px>Invited talk</td> <td width=110px>2.05pm-2.35pm</td> <td width=300px>On Challenges in Evaluating Interactive Recommender Systems </td> <td width=170px> Prof. Aixin Sun </td> </tr>-->
<!--        <tr> <td width=100px>Invited talk</td> <td width=110px>2.35pm-3.05pm</td> <td width=300px>Combining Empirical and Computational Approaches to Model and Predict Trust Dynamic in Human-AI Interaction </td> <td width=170px> Prof. X. Jessie Yang </td> </tr>-->
<!--        <tr> <td width=100px> Coffee break </td> <td></td><td></td><td></td> </tr>-->
<!--        <tr> <td width=100px>Paper oral</td> <td width=110px>3.30pm-3.45pm</td> <td width=300px>Minimalist and High-performance Conversational Recommendation with Uncertainty Estimation for User Preference</td> <td width=170px> Yinan Zhang, Boyang Li, You Yuan, Chunyan Miao </td> </tr>-->
<!--        <tr> <td width=100px>Paper oral</td> <td width=110px>3.45pm-4.00pm</td> <td width=300px>Balancing Accuracy and Fairness for Interactive Recommendation with Reinforcement Learning </td> <td width=170px> Weiwen Liu, Ruiming Tang </td> </tr>-->
<!--        <tr> <td width=100px>Paper oral</td> <td width=110px>4.00pm-4.15pm</td> <td width=300px>Leveraging Context-dependent Click Model for Off-Policy Evaluation of Ranking Policies </td> <td width=170px> Haruka Kiyohara, Nobuyuki Shimizu, Yasuo Yamamoto </td> </tr>-->
<!--        <tr> <td width=100px>Paper oral</td> <td width=110px>4.15pm-4.30pm</td> <td width=300px>Dynamic Adaptation of User Preferences and Results in a Destination Recommender System </td> <td width=170px> Asal Nesar Noubari, Wolfgang Wörndl </td> </tr>-->
<!--        <tr> <td width=100px>Paper oral</td> <td width=110px>4.30pm-4.45pm</td> <td width=300px>Improving Recommendation Systems with User Personality Inferred from Product Reviews </td> <td width=170px> Xinyuan Lu, Min-Yen Kan </td> </tr>-->
<!--        <tr> <td width=100px>Paper oral</td> <td width=110px>4.45pm-5.00pm</td> <td width=300px>Counterfactual Explanations for Visual Recommender Systems </td> <td width=170px> Neham Jain, Vibhhu Sharma, Gaurav Sinha </td> </tr>-->
<!--        <tr> <td width=100px>Closing</td> <td width=110px>5.00pm-5.05pm</td>  <td></td> <td></td> </tr>-->
<!--    </table>-->
  </div>
</section>
