
    <section id="speaker" class={{ include.class }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Invited Speakers</h2>
                </div>

            </div>
            <div class="row text-justify">
              <div class="col-md-12">
                <ul class="large text-muted">
                  <li><b>To Be Announced!</b></li>
                </ul>
              </div>
            </div>

<!--            {% assign speakers = site.speakers | sort:"order" %}-->
<!--            {% for member in speakers %}-->
<!--                {% include speaker-member.html %}-->
<!--            {% endfor %}-->

            
        </div>

    </section>
